bin
include
lib
.DS_Store
pyvenv.cfg
utc-persona-db.sql

node_modules/
/dist/
env/
__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
